
body{
    
    background-color: #FF65E5
}
h1{
    background-color:  #FD25B8 ;
    color:#FFf;
}
h3{
   
    color:#FF0000;
}
p{
    background-color: #F351E7
}

div{
     background-color: #FD25B8 
}
article{
    background-color: #FF0000;
   
}